<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:test</property>
        <property name="connection.username"/>
        <property name="connection.password"/>
        <property name="show_sql">true</property>
        <property name="hibernate.hdm2ddl.auto">create-drop</property>

        <mapping class="com.iut.metz.bankee.back.metier.objet.Compte"/>
        <mapping class="com.iut.metz.bankee.back.metier.objet.Client"/>
    </session-factory>
</hibernate-configuration>